* {
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
}
.item {
  background-color: #00aefd;
  border: 1px solid gray;
  min-height: 50px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  /* grid-template-rows: 100px 200px 100px; */
  grid-auto-rows: minmax(60px, auto);
  grid-template-areas:
    'header header header'
    'sidebar content content'
    'sidebar comment comment'
    'footer footer footer';
  column-gap: 20px;
  row-gap: 10px;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: sidebar;
}
.item3 {
  grid-area: content;
  /* grid-row: 2/5; */
}
.item4 {
  grid-area: comment;
}
.item5 {
  /* grid-column: 2/4; */
  grid-row: 3/7;
}
.item5 {
  grid-area: footer;
}
